<div id="banner" class="jumbotron row">
  <h1>About</h1>
</div>

<section class="page-section row">
  <div class="col-sm-3 col-md-offset-1">
    <i class="fa fa-cubes" style="font-size: 100px;"></i>
  </div>
  <div class="col-sm-9 col-md-7">
    <h2>Better solution for your online business. For everyone in everywhere.</h2>
    <p>We build highly scalable SaaS and mobile applications with passion. We love creating aesthetic, functional apps that are exceptional in every way. Our speciality is native iOS and Android app development. We abide by the highest standards aiming to deliver apps that are engaging, aesthetically-pleasing, and are easy to use.</p>
    <h3>Have an idea? We will do the rest!</h3>
    <p> Hiring a software house might feel like a painful process. Task management, delays, poor communication - time to forget all of that. We fit perfectly into your organization and will operate autonomously under your leadership to deliver a great product. Don't count on a questionable freelancer team without a proven track record. We're truly here to help you, and want you to know you're in good hands.</p>
    <p> Contact us <a href="http://rubikal.com"> Rubikal.com </a></p>
  </div>
</section>
