<div id="banner" class="jumbotron row">
  <h1>Your Receipt</h1>
  <p>Please keep this information for your records.</p>
</div>
<section id="receipt" class="page-section row">
  <div class="col-md-12 col-lg-9">
    <div id="cart-content">
      <div class="cart-labels cart-item row hidden-xs">
        <div class="col-sm-4 col-sm-offset-2 ">
          Item
        </div>
        <div class="col-sm-2">
          Quantity
        </div>
        <div class="col-sm-2">
          Discount
        </div>
        <div class="col-sm-2">
          Item Total
        </div>
      </div>
      <div class="cart-item row">
        <div class="col-xs-12 col-sm-2">
          <div class="product-thumb">
            <img class="img-responsive" alt="Blue Headphones" src="./Receipt_files/BlueHeadphones_129x129-jpg-keep-ratio.png">
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 cart-details">
          <div class="h4 product-title">
            <a href="">Blue Headphones</a>
            <small class="unit-price">
            $99.00
            </small>
          </div>
        </div>
        <div class="col-xs-12 col-sm-2 no-edit">
          <div class="h3 quantity">
            1
          </div>
        </div>
        <div class="col-xs-12 col-sm-2 cart-details no-edit">
          <div class="h6 quantity">
            $0.00
          </div>
        </div>
        <div class="col-xs-12 col-sm-2 cart-details">
          <div class="h4 total-price">
            $99.00
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-3">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>Order number:</td>
          <td>#69</td>
        </tr>
        <tr>
          <td>Payment method:</td>
          <td>test222</td>
        </tr>
        <tr>
          <td>Order Date:</td>
          <td>Aug 22nd, 2017</td>
        </tr>
      </tbody>
    </table>
    <ul class="price-list list-group">
      <li class="list-group-item"><strong>Discount applied:</strong> <i class="badge">$0.00</i></li>
      <li class="list-group-item"><strong>Subtotal:</strong> <i class="badge">$99.00</i></li>
      <li class="list-group-item"><strong>Sales Tax:</strong> <i class="badge">$0.00</i></li>
      <li class="list-group-item"><strong>Shipping:</strong> <i class="badge">$5.00</i></li>
      <li class="list-group-item order-total h4 clearfix"><strong>Total:</strong>  <i class="badge">$104.00</i></li>
    </ul>
    <a class="btn btn-default" href="">Continue Shopping <i class="fa fa-arrow-right"></i></a>
  </div>
</section>
